flows.json
[{"id":"3af82246.3634ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bc5230a9.52453","type":"inject","z":"3af82246.3634ae","name":"","topic":"","payload":"Gobble Gobble","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":120,"wires":[["c2d107be.0004f8"]]},{"id":"c2d107be.0004f8","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":120,"wires":[]},{"id":"4f4ccaa6.dbfe8c","type":"http in","z":"3af82246.3634ae","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":120,"y":200,"wires":[["94dc4412.c5d6d8"]]},{"id":"479c09f3.ab53f8","type":"http response","z":"3af82246.3634ae","name":"","statusCode":"","headers":{},"x":460,"y":200,"wires":[]},{"id":"94dc4412.c5d6d8","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Hello\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":200,"wires":[["479c09f3.ab53f8"]]}]